* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: darkslateblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}

ul {
  list-style: none;
}

.player {
  background: white;
  border-radius: 5px;
  width: 500px;
}

.svg {
  width: 32px;
  height: 32px;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.icon {
  fill: none;
  stroke: black;
}

/* DEBUG */
.b { border: 1px solid black; }
.b-red { border-color: red; }
.b-green { border-color: green; }
.b-blue { border-color: blue; }
