* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: darkslateblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
}

.player {
    background: white;
    padding: 1rem 2rem;
    width: 500px;
}

.icon {
    fill: none;
    stroke: black;
}

.svg {
    width: 32px;
    height: 32px;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* DEBUG */
.b { border: 1px solid; }
.b-red { border-color: red; }
.b-green { border-color: green; }
.b-blue { border-color: blue; }
